.FeedbackSection {
  background-color: darkgreen;
  padding: 2rem;
  color: white;
  max-width: 100%;
}

.FeedbackSection h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.feedback-item {
  background-color: darkred;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.feedback-item p {
  margin: 0.5rem 0;
}

.feedback-item strong {
  color: white;
}
