.NavBar {
  background-color: #333;
  padding: 1rem;
}

.NavBar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.NavBar li {
  color: white;
  cursor: pointer;
}
